<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title>About</title>
    <th:block layout:fragment="extra-style">
        <style>
            .document-about-page{
                width: 100px;
                height: 100px;
            }
        </style>
    </th:block>
</head>
<th:block layout:fragment="content-full-screen">
    <div class="col-sm-12">
            <div class="card-header" style="display: flex; justify-content: right; margin-right: 50px">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/main}">Головна</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Про нас</li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
    </div>
    <div style="margin-bottom: 50px"></div>
</th:block>
<th:block layout:fragment="content">

    <h2 id="title"></h2>
    <hr class="hr-horizontal">

    <div class="col-sm-9">
        <div id="description" style="max-width: 100%; word-wrap: break-word"></div>
    </div>
    <div class="col-sm-3">
        <img id="directorImg" style="height: 310px; width: 100%">
    </div>
   <div class="row" id="galleryContainer" style="margin-top: 50px">
   </div>
    <h2 id="addTitle" style="max-width: 100%; word-wrap: break-word;margin-top: 50px"></h2>
    <hr class="hr-horizontal">
    <div class="col-sm-12">
        <div id="addDescription" style="max-width: 100%; word-wrap: break-word"></div>
    </div>
    <div class="row" id="addGalleryContainer" style="margin-top: 50px">

    </div>
    <h2 style="margin-top: 50px">Документи</h2>
    <hr class="hr-horizontal">
    <div id="documentContainer">
        <div style="display: flex; align-items: center">
            <div>
                <img src="/site/assets/images/document.png" class="document-about-page">
            </div>
            <div style="">
                <div>
                    <h4>filename.png</h4>
                </div>
                <div>
                    <a href="/site/assets/images/document.png" download="document.png">Завантажити</a>
                </div>
            </div>
        </div>
    </div>
</th:block>


<th:block layout:fragment="extra-script">
    <script>
        $(document).ready(function (){
            $.ajax({
                url: "/site/get-about"
            })
                .done(function (response){

                    $("#title").text(response.title);
                    $("#addTitle").text(response.addTitle);
                    $("#description").html(response.description);
                    $("#addDescription").html(response.addDescription);
                    $("#directorImg").attr("src","/site/files/"+response.directorImg);
                    let photo ="";
                    for (let i = 0; i<response.photo.length; i++){
                        photo+="<div class=\"col-sm-4\">\n" +
                            "            <img src=\""+'/site/files/'+response.photo[i]+"\" style=\"height: 100%; width: 100%\">\n" +
                            "</div>"
                    }
                    $("#galleryContainer").html(photo);
                    let addPhoto ="";
                    for (let i = 0; i<response.addPhoto.length; i++){
                        addPhoto+="<div class=\"col-sm-4\">\n" +
                            "            <img src=\""+'/site/files/'+response.addPhoto[i]+"\" style=\"height: 100%; width: 100%\">\n" +
                            "</div>"
                    }
                    $("#addGalleryContainer").html(addPhoto);
                    let document = "";
                    for (let i = 0; i<response.documentResponses.length; i++){
                        document+="<div style=\"display: flex; align-items: center\">\n" +
                            "            <div>\n" +
                            "                <img src=\"/site/assets/images/document.png\" class=\"document-about-page\">\n" +
                            "            </div>\n" +
                            "            <div style=\"\">\n" +
                            "                <div>\n" +
                            "                    <h4>"+response.documentResponses[i].name+"</h4>\n" +
                            "                </div>\n" +
                            "                <div>\n" +
                            "                    <a href=\"/site/files/"+response.documentResponses[i].document+"\" download=\""+response.documentResponses[i].name+"\"><div style='display: flex; align-items: center'><svg xmlns=\"http://www.w3.org/2000/svg\" height=\"1em\" viewBox=\"0 0 512 512\"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill='currentColor' d=\"M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z\"/></svg>Завантажити </div></a>\n" +
                            "                </div>\n" +
                            "            </div>\n" +
                            "        </div>";
                    }
                    $("#documentContainer").html(document);

                })
        })
    </script>


</th:block>

</html>
