<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark iq-navbar" aria-label="Main navigation">
    <div class="container-fluid" style="margin-right: 50px; margin-left: 50px">
            <div>
                <a th:href="@{/main}" class="navbar-brand">
                    <img th:src="@{/assets/images/pages/logo-ua.png}" style="max-height: 40px">
                </a>
            </div>

            <div id="navbarsExampleDefault" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link sidebar-active" aria-current="page" th:href="@{/main}" id="main">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar-active" th:href="@{/about}" id="about">Про нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar-active" th:href="@{/service}" id="service">Послуги</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar-active" href="https://avada-media.ua/ua/moydom24/" id="buy">Умови придбання</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar-active" th:href="@{/contacts}" id="contacts">Контакти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link sidebar-active" href="https://slj.avada-media-dev1.od.ua/myhouse24-amirb-nikitaf/admin/login" id="login">
                        <div style="display: flex; align-items: center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="currentColor" d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>Вхід
                        </div>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>